<form action="/foo/ajax/m/boardsetting" method="post">
  <table class="dialog-grid">
    <tr>
      <td class="item-name">ボード名</td>
      <td>
        <input class="text" name="board_name" value="<%= current_board.store.label %>">
      </td>
    </tr>
    <tr>
      <td class="item-name">許可</td>
      <td>
        <table>
          <tr>
            <% r = current_board.format_readability.map { |x| x ? " checked" : "" } %>
            <% p r %>
            <td class="item-name">read</td>
            <td>
              <label class="radio">
                <input type="radio" name="read_permission" value="everyone" <%= r[0] %>>
                誰でも
              </label>
              <label class="radio">
                <input type="radio" name="read_permission" value="public_group" <%= r[1] %>>
                パブリックグループ
                <select name="public_group">
                  <option value="0" disabled="disabled">グループを選択</option>
                </select>
              </label>
              <label class="radio">
                <input type="radio" name="read_permission" value="private_group" <%= r[2] %>>
                特有グループ
                <%= erb :_groupmember, :locals => { :group => current_board.store.unique_readable } %>
                <input class="btn btn-info btn-mini" type="button" value="編集" onclick="MyPage.editGroup();return false;">
              </label>
              <hr>
            </td>
          </tr>
          <tr>
            <% w = current_board.format_writability.map { |x| x ? " checked" : "" } %>
            <td class="item-name">write</td>
            <td>
              <label class="radio">
                <input type="radio" name="write_permission" value="everyone" <%= w[0] %>>
                誰でも
              </label>
              <label class="radio">
                <input type="radio" name="write_permission" value="public_group" <%= w[1] %>>
                パブリックグループ
                <select name="public_group">
                  <option value="0" disabled="disabled">グループを選択</option>
                </select>
              </label>
              <label class="radio">
                <input type="radio" name="write_permission" value="private_group" <%= w[2] %>>
                特有グループ
                <%= erb :_groupmember, :locals => { :group => current_board.store.unique_writable } %>
                <input class="btn btn-info btn-mini" type="button" value="編集"onclick="MyPage.editGroup();return false;">
              </label>
              <label class="radio">
                <input type="radio" name="write_permission" value="same_as_read" <%= w[3] %>>
                readと同じ
              </label>
            </td>
          </tr>
        </table>          
      </td>
    </tr>
  </table>
  <input class="btn btn-primary" type="submit" value="保存" onclick="return MyPage.doPost(this);" disabled="disabled">
</form>
