<% comments = post.store.comments %>
<div class="detail" comment-count="<%= comments.length %>" comments-version="<%= comments.store.version %>">
  <div class="author">
    <span class="label">
      <% author = post.store.author %>
      <% label = author.store.label %>
      <% username = author.store.username %>
      <%== label && label != '' ? label : username %>
    </span>
    <span class="username">
      @<%= username %>
    </span>
    <span class="favored_by">
      <% post.store.favored_by.each do |src| %>
      <img src="http://www.gravatar.com/avatar/<%= Misc.gravator(src.store.email) %>?s=16&d=mm" alt="gravator"/>
      <% end %>
    </span>
    <span class="favorite">
      <% if @user %>
      <a href="#" onclick="MyPage.toggleFavorite(<%= post.store.id %>);return false;">
        <% if @user.favors?(post) %>
        そうでもない
        <% else %>
        そうかも
        <% end %>
      </a>
      <% end %>
    </span>
  </div>
  <div class="content">
    <%= display_post_content(post.store.content) %>
  </div>
</div>
