<article class="post" post-id="<%= post.store.id %>" version="<%= post.store.version %>">
  <div class="avatar">
    <div class="icon">
    </div>
  </div>
  <div class="entry">
    <%= erb :_detail, :locals => { :post => post, :level => level } %>

    <% comments = post.store.comments %>
    <div class="comments">
      <% if !comments.empty? %>
      <div class="close-button">
        <div>
          <a href="#" onclick="MyPage.toggleComments(this); return false;">×</a>
        </div>
        <div>
          <a href="#" onclick="MyPage.scrollToEntryTail(this); return false;">↓</a>
        </div>
      </div>
      <% end %>
      <%= erb :_timeline, :locals => { :timeline => comments, :level => level + 1 } %>
    </div>

    <div class="operation">
      <% if level == 0 %>
      <a class="show-comment" href="#" onclick="MyPage.toggleComments(this);return false;">
        コメントを見る(<%= comments.length %>)
      </a>
      <%   if @user %>
      <a class="post-comment" href="#" onclick="MyPage.toggleCommentForm(this);return false;">コメントする</a>
      <%   end %>
      <% end %>
    </div>
    <% if @user %>
    <div class="comment-form">
      <%= erb :_newcomment, :locals => { :parent_id => post.store.id, :timeline => comments } %>
    </div>
    <% end %>
  </div>
</article>
