<header>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          <% if current_board.secret? %>
          <img class="secret-indicator" src="<%= static_url("images/private.png") %>">
          <% else %>
          <img class="secret-indicator" src="<%= static_url("images/public.png") %>">
          <% end %>
          <span><%= owner.store.label %></span>/<span><%= current_board.store.label %></span>
        </a>
        <ul class="nav">
          <% if @user == owner %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">リボン<span class="caret"></span></a>
            <% if @user == owner %>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="MyPage.makeRibbon();return false;">新規作成</a></li>
              <li><a href="#" onclick="MyPage.makeRibbon();return false;">復活</a></li>
            </ul>
            <% end %>
          </li>
          <li><a href="<%= local_url('/preferences') %>">個人設定</a></li>
          <li><a href="<%= local_url('/logout') %>">ログアウト</a></li>
          <% end %>
          <li><a href="https://github.com/jonigata/porotter">github</a></li>
        </ul>

        <% if @user == owner %>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">ボード選択<span class="caret"></span></a>
            <%=  erb :_chooseboard, :locals => { :boards => boards } %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div id="stamp-chooser">
    <%= erb :_stamps %>
  </div>
  <% if @user %>
  <div id="make-board">
    <%= erb :_makeboard %>
  </div>
  <div id="make-ribbon">
    <%= erb :_makeribbon, :locals => { :current_board => current_board } %>
  </div>
  <div id="edit-permission">
    <%= erb :_editpermission %>
  </div>
  <div id="share-board">
    <%= erb :_shareboard %>
  </div>
  <% end %>
</header>
