<header>
  <div class="headline">
    <span><%= owner.store.label %></span>/<span><%= current_board.store.label %></span>
    <% if @user == owner %>
    <a href="<%= local_url('/preferences') %>">個人設定</a>
    <a href="<%= local_url('/logout') %>">ログアウト</a>
    <% end %>
    <a href="https://github.com/jonigata/porotter">github</a>

    <% if @user == owner %>
    <a href="#" data-dropdown="#board-chooser" id="choose-board">ボード選択</a>
    <% end %>
  </div>
  <div id="stamp-chooser">
    <%= erb :_stamps %>
  </div>
  <% if @user %>
  <div id="make-board">
    <%= erb :_makeboard %>
  </div>
  <div id="board-chooser" class="dropdown dropdown-tip dropdown-anchor-right">
    <% if @user == owner %>
    <%=  erb :_chooseboard, :locals => { :boards => boards } %>
    <% end %>
  </div>
  <% end %>
</header>
