<header>
  <div class="headline">
    <span>ぽろったー</span>/<span><%= current_board.store.label %></span>
    <a href="https://github.com/jonigata/porotter">github</a>
    <a href="<%= local_url('/preferences') %>">個人設定</a>
    <% if @user %>
    <a href="#" data-dropdown="#board-chooser" id="choose-board">ボード選択</a>
    <% end %>
  </div>
  <div id="stamp-chooser">
    <%= erb :_stamps %>
  </div>
  <% if @user %>
  <div id="board-chooser" class="dropdown dropdown-tip dropdown-anchor-right">
    <ul class="dropdown-menu">
      <% boards.values.each do |board| %>
      <li><a href="<%= local_url("/users/#{@user.store.username}/#{board.store.name}") %>"><%= board.store.label %></a></li>
      <% end %>
      <li class="dropdown-divider"></li>
      <li><a href="#5">新規作成</a></li>
      <li><a href="#5">インポート</a></li>
    </ul>
  </div>
  <% end %>
</header>
