<div class="ribbon-header">
  <h1>
    <%   if ribbon.secret? %>
    <img class="ribbon-permission" src="<%= static_url("images/private.png") %>">
    <%   else %>
    <img class="ribbon-permission" src="<%= static_url("images/public.png") %>">
    <%   end %>
    <%== ribbon.label %>
  </h1>
  <% if ribbon.owner != current_board %>
  <%   owner_board = ribbon.owner %>
  <h2>from <%== owner_board.owner.label %> / <%== owner_board.label %></h2>
  <% end %>

  <% if current_board.editable_by?(@user) %>
  <img class="close-button" src="<%= static_url("images/remove.png") %>" onclick="MyPage.closeRibbon(this, <%= current_board.store.id %>);return false;">

  <%   if ribbon.editable_by?(@user) %>
  <img class="secret-indicator" src="<%= static_url("images/settings.png") %>" onclick="MyPage.editRibbonSettings($(this).parent().find('.dialog'), <%= current_board.store.id %>, <%= ribbon.store.id %>);return false;">
  <%   end %>

  <img class="secret-indicator" src="<%= static_url("images/keyboard.png") %>" onclick="MyPage.doRibbonTest(<%= ribbon.store.id %>);return false;">

  <div class="dialog">
    <%= erb :_ribbonsettings, :locals => { :current_board => current_board, :ribbon => ribbon } %>
  </div>
  <% end %>
</div>
