<div class="ribbon-header">
  <h1><%= ribbon.read_source.store.label %></h1>

  <img class="close-button" src="<%= static_url("images/remove.png") %>" onclick="MyPage.closeRibbon(this);return false;">
  <% if ribbon.secret? %>
  <img class="secret-indicator" src="<%= static_url("images/private.png") %>" onclick="MyPage.editPermissions(<%= ribbon.store.id %>, false);return false;">
  <% else %>
  <img class="secret-indicator" src="<%= static_url("images/public.png") %>" onclick="MyPage.editPermissions(<%= ribbon.store.id %>, true);return false;">
  <% end %>
</div>
