<section class="posts">
  <% timeline.fetch_all(direction).each do |post| %>
  <article class="post">
    <div class="avatar">
      <div class="icon">
      </div>
    </div>
    <div class="entry">
      <div class="author">
        <span class="label">
          <%= post.store.author.store.username %>
        </span>
        <span class="username">
          @<%= post.store.author.store.username %>
        </span>
        <span class="favorite">
          <% if @user %>
          <a href="<%= local_url("m/favor") %>?target=<%= post.store.id %>">
            <% if @user.favors?(post) %>
            ★解除
            <% else %>
            お気に入りに登録
            <% end %>
          </a>
          <% end %>
        </span>
      </div>
      <div class="content">
        <%= post.store.content %>
      </div>

      <% comments = post.store.comments %>
      <div class="comments">
        <% if !comments.empty? %>
        <div class="close-button">
          <div>
            <a href="#" onclick="openComments(this); return false;">×</a>
          </div>
          <div>
            <a href="#" onclick="scrollToLastComment(this); return false;">↓</a>
          </div>
        </div>
        <%= erb :_timeline, :locals => { :user => user, :root => root, :timeline => comments, :comment => :disabled, :direction => :downward } %>
        <% end %>
      </div>

      <div class="operation">
        <% if comment == :enabled %>
        <a href="#" onclick="openComments(this);return false;">
          コメントを見る(<%= comments ? comments.length : 0 %>)
        </a>
        <%   if @user %>
        <a href="#" onclick="openCommentForm(this);return false;">コメントする</a>
        <%   end %>
        <% end %>
      </div>
      <% if @user %>
      <div class="comment-form">
        <%= erb :_newcomment, :locals => { :parent_id => post.store.id, :timeline => comments } %>
      </div>
      <% end %>
    </div>
  </article>
  <% end %>
</section>
