<!doctype html>
<html lang="ja">
  <%= erb :_head %>

  <body>
    <%= erb :_preamble, :locals => { :owner => owner, :current_board => current_board, :boards => boards } %>

    <div class="workspace">
      <% current_board.list_ribbons.each do |ribbon| %>
      <div class="ribbon-outer">
        <section class="ribbon" ribbon-id="<%= ribbon.store.id %>">
          <div class="ribbon-inner">
            <%= erb :_ribbonheader, :locals => { :ribbon => ribbon } %>
            <% if ribbon.write_target %>
            <%=  erb :_newarticle, :locals => { :ribbon => ribbon }  %>
            <% end %>
            <section class="timeline" level="0" ribbon-id="<%= ribbon.store.id %>" timeline-id="<%= ribbon.read_source.store.id %>" version="0">
            </section>
          </div>
        </section>
      </div>
      <% end %>
    </div>
  </body>
</html>
