<!doctype htmnl>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ぽろったー</title>
    <!-- <link rel="stylesheet" <%= href("css/login.css") %>> -->
  </head>

  <body>
    <header>
      <h1>ぽろったー</h1>
      <p class="subtitle">ぽろったーは、リアルタイムに配信される情報にコメントを付けながら交流できるシステムです。</p>
    </header>

    <section>
      <section class="box">
        <h1>Login</h1>
        
        <% if login_error %>
        <div class="error">
          <%= login_error %>
        </div>
        <% end %>
        
        <form action="<%= local_url("login") %>" method="post">
          <table>
            <tr>
              <td>username</td>
              <td><input name="username" /></td>
            </tr>
            <tr>
              <td>password</td>
              <td><input type="password" name="password" /></td>
            </tr>
          </table>
          <input type="submit" value="Log in" />
        </form>
      </section>

      <section class="box last">
        <h1>Sign up</h1>
        
        <% if signup_error %>
        <div class="error">
          <%= signup_error %>
        </div>
        <% end %>
        
        <form action="<%= local_url("signup") %>" method="post">
          <table>
            <tr>
              <td>username</td>
              <td><input name="username" value="<%= params[:username] %>"/></td>
            </tr>
            <tr>
              <td>password</td>
              <td><input type="password" name="password" /></td>
            </tr>
            <tr>
              <td>password again</td>
              <td><input type="password" name="password_confirmation" /></td>
            </tr>
          </table>
          <input type="submit" value="Create an account">
        </form>
      </div>

    </section>
  </body>
</html>


