<!doctype htmnl>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ぽろったー</title>
    <link rel="stylesheet" href="<%= static_url("css/bootstrap.css") %>">
    <link rel="stylesheet" href="<%= static_url("css/flat-ui.css") %>">
  </head>

  <body class="container-fluid">
    <header class="row-fluid">
      <div class="hero-unit">
        <h1>ぽろったー</h1>
        <p class="subtitle">ぽろったーは、リアルタイムに配信される情報にコメントを付けながら交流できるシステムです。</p>
      </div>
    </header>

    <section class="row-fluid">
      <section class="span6 palette palette-clouds">
        <h1>Login</h1>
        
        <% if login_error %>
        <div class="error">
          <%= login_error %>
        </div>
        <% end %>
        
        <form action="<%= local_url("login") %>" method="post">
          <table>
            <tr>
              <td>username</td>
              <td><input type="text" name="username" /></td>
            </tr>
            <tr>
              <td>password</td>
              <td><input type="password" name="password" /></td>
            </tr>
          </table>
          <input type="submit" value="Log in" class="btn btn-primary"/>
        </form>
      </section>

      <section class="span6 palette palette-clouds">
        <h1>Sign up</h1>
        
        <% if signup_error %>
        <div class="error">
          <%== signup_error %>
        </div>
        <% end %>
        
        <form action="<%= local_url("signup") %>" method="post">
          <table>
            <tr>
              <td>username</td>
              <td><input type="text" name="username" value="<%= params[:username] %>"/></td>
            </tr>
            <tr>
              <td>password</td>
              <td><input type="password" name="password" /></td>
            </tr>
            <tr>
              <td>password again</td>
              <td><input type="password" name="password_confirmation" /></td>
            </tr>
          </table>
          <input type="submit" value="Create an account" class="btn btn-primary">
        </form>
      </section>
    </section>
  </body>
</html>


