<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ぽろったー</title>

    <%= erb :_head %>

    <% timeline = @user.store.primary_timeline %>
    <script>
      $(function() {
        MyPage.init(<%= timeline.store.id %>);
      });
    </script>

  </head>

  <body>
    <header>
      <h1>ぽろったー</h1>
      <p class="subtitle">ぽろったーは、リアルタイムに配信される情報にコメントを付けながら交流できるシステムです。</p>
    </header>

    <div class="root-operation">
      <div class="left">
        <%= erb :_newarticle, :locals => { :timeline => timeline }  %>
      </div>
      <div class="right">
        <a href="#">設定</a>
      </div>
    </div>

    <div id="root">
      <section class="posts" timeline-id="<%= timeline.store.id %>" timeline-version="<%= timeline.store.version %>">
      </section>
    </div>
  </body>
</html>
