<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ぽろったー</title>

    <link rel="stylesheet" href="<%= static_url("css/bootstrap.css") %>">
    <link rel="stylesheet" href="<%= static_url("css/preferences.css") %>">
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#"><%= @user.store.username %>/個人設定</a>
            <ul class="nav">
              <li><a href="<%= local_url("../") %>">もどる</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class="preferences">
      <section class="item">
        <h1>アカウント名</h1>
        <p><%= @user.store.username %></p>
      </section>
      <section class="item">
        <h1>表示する名前</h1>
        <form action="<%= local_url("/edit_label") %>">
          <input type="text" name="label" value="<%= @user.store.label %>">
          <input type="submit" value="変更">
        </form>
      </section>
      <section class="item">
        <h1>メールアドレス</h1>
        <form action="<%= local_url("/edit_email") %>">
          <input type="text" name="email" value="<%= @user.store.email %>">
          <input type="submit" value="変更">
        </form>
        <p>
          gravatar: 
          <%= gravatar(@user, 40) %>
        </p>
      </section>
    </div>
  </body>
</html>
